<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName"
>

    <!--不拦截静态资源-->
    <mvc:annotation-driven/>
    <mvc:resources mapping="/index_files/**" location="/index_files/"/>
    <mvc:resources mapping="/html/**" location="/html/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>

    <!--配置自动扫描的包-->
    <context:component-scan base-package="com.huangyuanlove.ourstories"/>
    <bean autowire="default" abstract="false" class="com.huangyuanlove.ourstories.entites.User"/>
    <bean autowire="default" abstract="false" class="com.huangyuanlove.ourstories.entites.Confidence"/>


    <!-- 配置直接响应界面 -->
    <mvc:view-controller path="/success" view-name="success"/>

    <!--配置试图解析器：如何把 handler 方法返回值解析为实际的物理视图-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:annotation-driven>
    </mvc:annotation-driven>

    <!-- 整合mybatis -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- 数据源，使用dbcp-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <!--<property name="url" value="jdbc:mysql://127.0.0.1:3306/ourstories"/>-->
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="${jdbc.maxActive}"/>
        <property name="maxIdle" value="${jdbc.maxIdle}"/>
        <property name="minIdle" value="${jdbc.minIdle}"/>
        <property name="maxWait" value="${jdbc.maxWait}"/>
    </bean>
    <!--注解映射器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <!--注解适配器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>


    <bean id="SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis_config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- mapper 配置
     MapperFactoryBean根据mapper接口生成代理对象
-->
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.huangyuanlove.ourstories.mapper.UserMapper"/>
        <property name="sqlSessionFactory" ref="SqlSessionFactory"/>
    </bean>

    <bean id="confidenceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.huangyuanlove.ourstories.mapper.ConfidenceMapper"/>
        <property name="sqlSessionFactory" ref="SqlSessionFactory"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.huangyuanlove.ourstories.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>


    <!-- 事务管理器
	对mybatis操作数据库事务控制，spring使用jdbc的事务控制类
-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 数据源
        dataSource在applicationContext-dao.xml中配置了
         -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 通知 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- 传播行为 -->
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!-- aop -->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.huangyuanlove.ourstories.serviceImpl.*.*(..))"/>
    </aop:config>

    <bean id="userService" class="com.huangyuanlove.ourstories.serviceImpl.UserServiceImpl"/>
    <bean id="confidenceService" class="com.huangyuanlove.ourstories.serviceImpl.ConfidenceServiceImpl"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10486760"/>
        <property name="maxUploadSizePerFile" value="1048676"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 拦截器 -->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="login"/>
            <mvc:exclude-mapping path="regist"/>
            <mvc:exclude-mapping path="logout"/>
            <bean class="com.huangyuanlove.ourstories.interceptors.TokenAndIdInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->
</beans>
